<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>学生信息展示页面</title>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        * {
            border: 1px solid #ddd;
            box-sizing: border-box;
        }

        .container {
            margin: 0 auto;
            width: 80%;
        }

        .header {
            height: 100px;
            clear: both;
        }

        .clearfix::before {
            content: ' ';
            display: table;
            clear: both;
        }

        .clearfix::after {
            content: ' ';
            display: table;
            clear: both;
        }

        .pull-left {
            float: left;
        }

        .left {
            width: 80%;
        }


        .right {
            width: 20%;
            height: 500px;
        }

        .left .item {
            width: 50%;
            height: 250px;
        }
    </style>
</head>
<body>
<div class="container">
    <!-- 头部 -->
    <header>
        <div id="basicinfo" class="header">
            <input id="queryAll" type="text" class="form-control" placeholder="输入学号查询，例如：S03028" WIDTH="100">
            <div class="input-group-append">
                <button class="btn btn-success" type="submit" onclick="Show()">查询</button>
            </div>

        </div>
    </header>
    <!-- 主视图区 -->
    <main class="clearfix">
        <!-- 左边 -->
        <div class="left clearfix pull-left">
            <!-- 四个子块 -->
            <div id="baseinfo" class="item pull-left"></div>
            <div id="nationrank" class="item pull-left">nationrank</div>
            <div id="classrank" class="item pull-left">classrank</div>
            <div id="campusrank" class="item pull-left">campusrank</div>
        </div>
        <!-- 右边 -->
        <div class="right pull-left">
            <p>信息说明：</p>
        </div>
    </main>
</div>
<script>
    var myChart = echarts.init(document.getElementById('baseinfo'), 'gray', {renderer: 'canvas'});
    var nationrankChart = echarts.init(document.getElementById('nationrank'), 'gray', {renderer: 'canvas'});
    var classrankChart = echarts.init(document.getElementById('classrank'), 'gray', {renderer: 'canvas'});
    var campusrankChart = echarts.init(document.getElementById('campusrank'), 'gray', {renderer: 'canvas'});
    function Show() {
        var serial = document.getElementById("queryAll").value;
        $(
            function () {
                dd = getData();
                ee = getNationrank();
                classrankdata = getclassrank();
                campusrankdata = getcampusrank();
            }
        );

        function getcampusrank() {
            caurl = "http://127.0.0.1:8000/StudentInfo/campus_cat_sum_cnt/?serial="+serial;
            $.ajax({
                type: "GET",
                url: caurl,
                dataType: 'json',
                success: function (result) {
                    campusrankdata = result.data;
                    campusrankoption = {
                        title: {
                            text: "校区排名"
                        },
                        xAxis: {
                            type: 'category',
                            data: ['知识获取', '实践能力', '思维能力', '个体', '社会', '总体']
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [{
                            data: campusrankdata,
                            type: 'line',
                            symbol: 'triangle',
                            symbolSize: 10,
                            lineStyle: {
                                normal: {
                                    color: 'red',
                                    width: 2,
                                    type: 'dash'
                                }
                            },
                            itemStyle: {
                                normal: {
                                    borderWidth: 1,
                                    borderColor: 'gray',
                                    color: 'green'
                                }
                            }
                        }]
                    };
                    campusrankChart.setOption(campusrankoption)
                }
            })


        }

        function getclassrank() {
            clurl ="http://127.0.0.1:8000/StudentInfo/class_cat_sum_cnt/?serial="+serial;
            var classrankdata;
            $.ajax({
                type: "GET",
                url: clurl,
                dataType: 'json',
                success: function (result) {
                    classrankdata = result.data;
                    classoption = {
                        title: {
                            text: '班级排名'
                        },
                        tooltip: {},
                        xAxis: {
                            data: ['知识获取', '实践能力', '思维能力', '个体', '社会', '总体'],
                            silent: false,
                            splitLine: {
                                show: false
                            }
                        },
                        yAxis: {},
                        series: [{
                            name: ' ',
                            type: 'bar',
                            data: classrankdata,
                            animationDelay: function (idx) {
                                return idx * 10;
                            }
                        }],
                        animationEasing: 'elasticOut',
                        animationDelayUpdate: function (idx) {
                            return idx * 5;
                        }
                    };
                    classrankChart.setOption(classoption);
                }
            })

        }

        function getNationrank() {
            nurl="http://127.0.0.1:8000/StudentInfo/cat_national_sum_rank/?serial="+serial;
            $.ajax({
                    type: "GET",
                    url: nurl,
                    dataType: 'json',
                    success: function (result) {
                        ee = result.data;
                        nationrankoption = {
                            title: {
                                text: "全国排名"
                            },
                            xAxis: {
                                type: 'category',
                                data:
                                    ['知识获取', '实践能力', '思维能力', '个体', '社会', '总体']
                            }
                            ,
                            yAxis: {
                                type: 'value'
                            }
                            ,
                            series: [{
                                data: ee,
                                type: 'line'
                            }]
                        }
                        ;
                        nationrankChart.setOption(nationrankoption)
                    }
                }
            )
        }

        function getData() {
            Durl="http://127.0.0.1:8000/StudentInfo/cat_sum_cnt/?serial="+serial;
            $.ajax({
                type: "GET",
                url: Durl,
                dataType: 'json',
                success: function (result) {
                    dd = result.data;
                    da1 = [];
                    for (var i = 0; i <= dd.length - 1; i++) {
                        if (i == 0 || i == 5) {
                            da1[i] = 0
                        } else {
                            da1[i] = da1[i - 1] + dd[i - 1]
                        }
                    }
                    da1;
                    var option = {
                        title: {
                            text: '学生个人卡牌信息',
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            },
                            formatter: function (params) {
                                var tar = params[1];
                                return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: {
                            type: 'category',
                            splitLine: {show: false},
                            data: ['知识获取', '实践能力', '思维能力', '个体', '社会', '卡牌总数']
                        },
                        yAxis: {
                            type: 'value'
                        },
                        series: [
                            {
                                name: '辅助',
                                type: 'bar',
                                stack: '总数',
                                itemStyle: {
                                    normal: {
                                        barBorderColor: 'rgba(0,0,0,0)',
                                        color: 'rgba(0,0,0,0)'
                                    },
                                    emphasis: {
                                        barBorderColor: 'rgba(0,0,0,0)',
                                        color: 'rgba(0,0,0,0)'
                                    }
                                },
                                data: da1
                            },
                            {
                                name: '卡牌数',
                                type: 'bar',
                                stack: '总数',
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'inside'
                                    }
                                },
                                data: dd
                            }
                        ]
                    };
                    myChart.setOption(option);
                }
            });
        }

    }
</script>
</body>
</html>